<ion-navbar *navbar>
  <ion-title>Devices</ion-title>
</ion-navbar>

<ion-content padding class="devices">
    Select / Take some pictures
    <br><br><br>
    <button dark (click)="openCamera(1)">                
        Open camera(파일 업로드)
    </button>
    <br><br><br>
    <button dark (click)="openCamera(0)">                
        Open camera(OCR)
    </button>
    <br><br><br>
    <button dark (click)="openAlbums()">                
        Open albums
    </button>
    <br><br><br>
    <button dark (click)="openOcrAlbums()">                
        Open albums(OCR)
    </button>
    <br><br><br>
    <button dark (click)="openFile()">                
        Open File
    </button>
    <br><br><br><br>
    <button dark [hidden]="images.length == 0" (click)="startUploading()">                
        Start uploading
    </button>

     <!--img [src]="_DomSanitizationService.bypassSecurityTrustUrl(cameraData)" *ngIf="photoTaken"-->
     <img src="{{ cameraData }}" *ngIf="photoTaken"/>

      <div class="items">
        <div *ngFor="let item of images; let i = index">
            <ion-row center  *ngIf="i % 4 === 0" > 
                <ion-col width-25 *ngIf="i < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i] + ')'}"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 1 < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i + 1] + ')'}"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 2 < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i + 2] + ')'}"></div>
                </ion-col>
                <ion-col width-25 *ngIf="i + 3 < images.length">
                    <div class="image" [ngStyle]="{'background-image': 'url(' + images[i + 3] + ')'}"></div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>